include ./includes/shared-mixins.pug
include ./includes/tx-mixins.pug

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		base(href=config.baseUrl)
		meta(name="csrf-token", content=csrfToken)
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no")

		meta(name="description" content="Unicity Wordle Agents")
		
		if (!homepage)
			link(rel="stylesheet", href=assetUrl(`./style/highlight.min.css`), integrity=assetIntegrity("highlight.min.css"), crossorigin="anonymous")


		+themeCss
		

		link(id="canonical" rel="canonical" href="https://unicity.network")

		meta(property="og:title" content=(metaTitle != undefined ? metaTitle : "Unciity Wordle AI "))
		meta(property="og:description" content=(metaDesc != undefined ? metaDesc : "Unicity Wordle AI"))
		
		meta(name="apple-mobile-web-app-title", content="Uncity Agent Demo")
		meta(name="application-name", content="Unicity Agent Demo")
		meta(name="msapplication-TileColor", content="#022e70")
		meta(name="theme-color" content="#022e70")



		block headContent
			title Explorer

	body.bg-header-footer
		nav.navbar.navbar-expand-md.navbar-dark.bg-header-footer
			.container
				a.navbar-brand(href="./")
					span
						img.header-image(src=assetUrl("./img/network-mainnet/logo.svg"), alt="logo", style="width: 80px; height: 80px;")
						span.fw-light Unicity Agent Demo
						
					
		div.pb-4.pt-3.pt-md-4.bg-main
			div.container.px-2.px-sm-3.mb-large
				if (pageErrors && pageErrors.length > 0)
					include includes/page-errors-modal.pug

					div.alert.alert-danger
						- var errorText = `This page encountered ${pageErrors.length.toLocaleString()} error${pageErrors.length == 1 ? "" : "s"}:`;
						span.fw-bold #{errorText} 
						a(href="javascript:void(0)", data-bs-toggle="modal", data-bs-target="#pageErrorsModal") Error details

				if (userMessageMarkdown)
					div.alert(class=(userMessageType ? `alert-${userMessageType}` : "alert-warning"), role="alert")
						div.user-message-markdown
							| !{markdown(userMessageMarkdown)}

				if (userMessage)
					div.alert(class=(userMessageType ? `alert-${userMessageType}` : "alert-warning"), role="alert")
						span #{userMessage}

				div(style="min-height: 500px;")
					block content

				div(style="margin-bottom: 30px;")

		footer.footer.border-top.border-primary.bg-header-footer.pt-3.pb-1.px-3.text-white(style="border-width: 5px !important;")
			.container
				.row.mt-4.mb-6
					.col-lg-3
						.mb-4
							h6 Project 
							.ms-2
								a.footer-link(href="https://github.com/unicitynetwork") github.com/unicitynetwork/
					.col-lg-3
					.col-lg-3
					.col-lg-3
						.mb-4
							h6 Contact unicity-devs@proton.me

		+sharedScriptTags
		
		script.
			var serverTzOffset = "!{new Decimal(new Date().getTimezoneOffset()).dividedBy(60)}";
			var browserTzOffset = "!{browserTzOffset}";
			var currentBrowserTzOffset = (new Date().getTimezoneOffset() / 60).toString();
			var userTzOffset = "!{userTzOffset}";
			
			document.addEventListener("DOMContentLoaded", function(event) {''
				enableTooltipsAndPopovers();

				onLoad_tabSelection();

				//console.log(Intl.DateTimeFormat().resolvedOptions().timeZone);
				console.log("Manual TZ Offset: " + userTzOffset);
				console.log("Browser TZ Offset: " + browserTzOffset);

				var displayTz = -1 * browserTzOffset;
				$("#browser-tz-offset").text(`${displayTz >= 0 ? "+" : ""}${displayTz} hr`);

				if (browserTzOffset != currentBrowserTzOffset) {
					browserTzOffset = currentBrowserTzOffset;

					$.get(`./changeSetting?name=browserTzOffset&value=${browserTzOffset}`, function(data) {
						console.log("Browser timezone saved.");

						if (userTzOffset == "unset") {
							$(".date-text").each((i, obj) => {
								var timestampUtc = $(obj).attr("data-timestamp-utc");
								var includeAgo = $(obj).attr("data-date-ago");
								var formatStr = $(obj).attr("data-date-format");
								if (formatStr) {
									formatStr = `&formatString=${formatStr}`;
								}
								
								$.get(`./snippet/timestamp?timestamp=${timestampUtc}&includeAgo=${includeAgo}${formatStr}`, function(data) {
									$(obj).html(data);

									enableTooltipsAndPopovers();
								});
							});
						}
					});
				}
			});

		if (perfResults)
			script.
				var perfId = !{JSON.stringify(perfId)};

				console.log(`Performance ID: ${perfId}`);

		if (!homepage)
			script(src=assetUrl(`./js/highlight.min.js`), integrity=assetIntegrity("highlight.min.js"), crossorigin="anonymous")
			script.
				document.addEventListener("DOMContentLoaded", function(event) {
					hljs.highlightAll();
				});

		if (process.env.BTCEXP_PLAUSIBLE_ANALYTICS_DOMAIN && process.env.BTCEXP_PLAUSIBLE_ANALYTICS_SCRIPT_URL)
			script(async defer data-domain=process.env.BTCEXP_PLAUSIBLE_ANALYTICS_DOMAIN src=process.env.BTCEXP_PLAUSIBLE_ANALYTICS_SCRIPT_URL)

		if (config.credentials.sentryUrl && config.credentials.sentryUrl.length > 0)
			script(src=assetUrl("./js/sentry.min.js"), integrity=assetIntegrity("sentry.min.js"), crossorigin="anonymous")
			script.
				Sentry.init({ dsn: '#{config.credentials.sentryUrl}' });

		if (config.credentials.googleAnalyticsTrackingId && config.credentials.googleAnalyticsTrackingId.trim().length > 0)
			script(async, src=("https://www.googletagmanager.com/gtag/js?id=" + config.credentials.googleAnalyticsTrackingId))
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '#{config.credentials.googleAnalyticsTrackingId}');

		
		block endOfBody
